/* Menggunakan font Poppins */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fadfc4;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #97562c;
  z-index: 999999;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 15px 0;
  display: block;
}

nav ul li:hover {
  color: #f5f5f5;
  border-bottom: 3px solid #f5f5f5;
  transform: scale(1.03);
}

header#home {
  position: relative;
  height: 100vh;
  background: url("img/bg.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

header#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 184, 139, 0.6); /* Semi-transparan overlay */
  z-index: 1;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

header#home .home {
  position: relative;
  z-index: 2; /* Pastikan content muncul di atas overlay */
  text-align: center;
}

h1.title {
  transition: 0.3s ease-in-out;
}

h1.title:hover {
  transform: scale(1.02);
}

p.title {
  transition: 0.3s ease-in-out;
}

p.title:hover {
  transform: scale(1.02);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0 50px;
}

aside {
  flex: 1;
  background-color: #facca1;
  border-radius: 1rem;
  text-align: center;
  align-self: center;
  height: fit-content;
}

aside h2 {
  margin: 5px 0;
}

aside img {
  max-width: 60%;
  transition: ease-in-out 0.3s;
}

aside img:hover {
  transform: scale(1.05);
}

aside p {
  margin: 5px 0;
}

article {
  flex: 2;
  margin-left: 30px; /* Agar ada jarak di sebelah kiri artikel */
  order: 2; /* Urutan kedua, agar artikel berada di sebelah kanan */
  align-content: center;
}

.about h2 {
  font-size: 2em;
}

img {
  max-width: 100%;
  border-radius: 1rem;
  height: auto;
}

/* Styling untuk memastikan tidak ada tumpang tindih */
h1 {
  margin-top: 20px;
  font-size: 3rem;
}

.products {
  padding-bottom: 10vh;
  text-align: center;
  order: 3;
}

.products-container {
  border-radius: 1rem;
  padding: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  box-shadow: 5px 10px 8px #945f3b;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.product:hover {
  transform: scale(1.02);
  box-shadow: 5px 10px 8px #97562c;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h4 {
  margin: 5px 0 5px 0;
}

.product p {
  font-size: 13px;
  color: #666;
}

.contact {
  background-color: #facca1;
  text-align: center;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  order: 4;
  width: 100%;
  margin: 0;
  padding-bottom: 5vh;
}

.contact h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

button[type="submit"] {
  background-color: #97562c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #945f3b;
  transform: scale(1.02);
}

footer {
  background-color: #97562c;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

footer p {
  transition: ease-in-out 0.3s;
}

footer p:hover {
  transform: scale(1.02);
}

/* Responsive untuk tampilan mobile */
@media (max-width: 768px) {
  nav ul li a {
    font-size: 12px;
  }
  .about {
    display: flex;
    flex-direction: column;
    margin: 50px;
    height: fit-content;
  }
  article {
    margin-left: 0;
  }
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
  main {
    display: grid;
    height: auto;
  }
  aside img {
    justify-content: center;
  }
}
@media (max-width: 425px) {
  header#home {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  header#home::before {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  h1.title {
    font-size: 2rem;
  }
  aside p {
    font-size: 10px;
  }
  article p {
    font-size: 13px;
  }
  .product p {
    font-size: 10px;
    margin: 0;
  }
  .contact {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  .form-group label {
    font-size: 15px;
  }
  .form-group input,
  .form-group textarea {
    font-size: 12px;
    width: 92%;
  }
  button[type="submit"] {
    font-size: 10px;
  }
  footer p {
    font-size: 10px;
  }
}
